button{
  border-radius: 5px;
  background-color: black;
  color: white;
}

button:hover{
  background-color: white;
  color: black;
  transition: 0.4s;
}

.main {
  display: flex;
  width: 100%;
  margin-top: 60px;
}

.left-section {
  text-align: center;
  width: 50%;
  height: calc(100vh - 60px);
  background-color: red;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.right-section{
  padding: 16px;
  width: 50%;
  height: calc(100vh - 60px);
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.left-section h1{
  text-align: center;
}

.left-section .description{
  padding: 4px;
  text-align: left;
  background-color: white;
  word-wrap: break-word;
  height: auto;
  width: 80%;
  border-radius: 10px;
  border: 2px solid black;
}

.left-section .buttons{
  width: 100%;
  flex-direction: row;
  margin-top: 20px;
  padding-bottom: 20px;
}

.left-section .backButton{
  width: 33%;
  margin-right: 30px;
  height: 40px;
}

.left-section .includeButton{
  width: 33%;
  height: 40px;
  margin-left: 30px;
}

.right-section .imageContainer{
  z-index: 10;
  width: 95%;
}

.right-section .image{
  width: 100%;
  height: auto;
}

.details{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
}

.locationAndTime{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.location{
  border-radius: 5px;
  border: 2px solid black;
  font-size: 24px;
  display: flex;
  background-color: white;
  width: 180px;
  height: 50px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
}

.time{
  border-radius: 5px;
  border: 2px solid black;
  font-size: 24px;
  display: flex;
  background-color: white;
  margin-top: 80px;
  width: 180px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

iframe{
  border-radius: 10px;
}

@media (max-width:1850px){
  .details{
    flex-direction: column;
    align-items: center;
  }

  .locationAndTime{
    flex-direction: row;
  }
  
  .location{
    width: 90px;
    margin: 0;
  }
  
  .time{
    width: 90px;
    margin: 0;
  }
  
  iframe{
    
  }
}