.main {
    display: flex;
    width: 100%;
  }
  
  .left-section {
    width: 40vw;
    display: inline-block;
  }
  
  .description {
    height: 28vw;
    display: block;
    word-wrap: break-word;
    overflow-y: scroll;
  }
  
  .buttons {
    width: 40vw;
    height: 5vw;
    display: flex;
    margin-top: 6px;
  }
  
  .backButton, .includeButton {
    height: 100%;
  }
  
  .backButton {
    width: 30%;
  }
  
  .includeButton {
    width: 50%;
    margin-left: auto;
  }
  
  .rightSection {
    width: 60vw;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  
  .image {
    width: auto;
    height: 58vh;
  }
  
  .details {
    display: flex;
    width: 100%;
  }
  
  .locationAndTime {
    margin-left: 5%;
    margin-top: 2%;
    width: 30%;
  }
  
  .location, .time {
    display: block;
    border: 1px solid black;
    padding: 15px;
  }
  
  .location {
    margin-bottom: 10px;
  }
  
  .secondaryImage {
    width: auto;
    height: 30vh;
    margin-left: auto;
    margin-right: 5%;
  }
  